* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.container {
	width: 1020px;
	margin: 0 auto;
	overflow: hidden;
}

/* Singolo 1 */
body {
	margin-top: 94.5px;
}
body > section {
	scroll-margin-top: 94px;
}

.header {
	padding-top: 34px;
	height: 94.5px;
	background-color: #2d303a;
	border-bottom: solid 6px #323746;
	z-index: 99;
	top: 0;
	width: 100%;
	position: fixed;
}


.header__logo {
	font-size: 24.5px;
	line-height: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
}

.header__logo span {
	color: #f06c64;
}

.header__navigation {
	position: relative;
	bottom: -3px;
}

.header__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 40px;
}

.navigation li .active {
	color: #f06c64;
}

.navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 372px;
	list-style-type: none;
}

.navigation li {
	display: inline-block;
}

.navigation li::after {
	content: "";
	display: inline-block;
	width: 2.5px;
	height: 2.5px;
	border-radius: 100%;
	background-color: #494e62;
	vertical-align: middle;
	-webkit-transform: translateX(15px);
	transform: translateX(15px);
}

.navigation li:last-child::after {
	display: none;
}

.navigation li a {
	color: #ffffff;
	font-size: 11.44px;
	font-weight: 700;
	line-height: 6.32px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: justify;
	text-transform: uppercase;
}

.navigation li a:hover {
	color: #f06c64;
	-webkit-transition: 0.6s;
	transition: 0.6s;
}

/* #home {
	margin-top: 94.5px;
} */

.slider {
	height: 599.9px;
	background-color: #f06c64;
	border-bottom: solid 6px #ea676b;
	position: relative;
	
}

/* .slider__container {
	position: relative;
} */
.slider__wrapper {
	/* position: relative; */
	display: flex;
}

.right-arrow {
	position: absolute;
	z-index: 10;
	top: 282px;
    right: 161px;
}
.left-arrow {
	position: absolute;
	z-index: 10;
	top: 282px;
    left: 164px;
}


.slider__item {
	position: relative;
}

.phone_1 {
	padding-right: 20px;
}

.phone_2 {
	padding-right: 2px;
}

.arrow-right:hover {
	cursor: pointer;
	filter: brightness(0);
}
.arrow-left:hover {
	cursor: pointer;
	filter: brightness(0);
}

.second-slide{
	position: absolute;
	top: 0;
	transition: opacity 1s ease-in;
	z-index: 2;
}

.hidden {
	opacity: 0;
}

.black-screen {
	background: black;
    position: absolute;
    width: 188px;
    height: 336px;
    z-index: 1;
    top: 211px;
    left: 248px;
	transition: opacity 1s ease-in;
}
.black-screen_horisontal {
	width: 333px;
	height: 188px;
	left: 607px;
    top: 286px;
}
.phone-button {
	position: absolute;
	width: 43px;
	height: 43px;
	z-index: 3;
	cursor:  pointer;
    
}
.phone-button_vertical {
	left: 319px;
    top: 553px;
}
.phone-button_horisontal {
	left: 553px;
    top: 355px;
}

.our-servises {
	height: 500px;
	background-color: #f2f2f2;
	border-bottom: 6px solid white;
}

.our-servises__title {
	display: block;
	padding: 69px 0 0 40px;
	color: #666d89;
	font-size: 30px;
	font-weight: 800;
	line-height: 17.86px;
}

.our-servises__description {
	display: block;
	padding-left: 41px;
	margin-top: 27px;
	color: #767e9e;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.146px;
}

.our-servises__second {
	display: block;
	padding-left: 41px;
	color: #767e9e;
	font-size: 17.5px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.2px;
}

.our-servises__layout-3-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 47px 41px 0 41px;
}

.our-servises__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	width: 300px;
	height: 87px;
	margin-bottom: 34.8px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.our-servises__item h3 {
	color: #666d89;
	font-size: 18px;
	font-weight: 600;
	line-height: 12.86px;
	margin-bottom: 13px;
	letter-spacing: normal;
	text-align: justify;
}

.our-servises__item p {
	color: #767e9e;
	font-size: 12px;
	font-weight: 400;
	line-height: 21.56px;
	text-align: justify;
}

.our-servises__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 59px;
	height: 59px;
	border: 2px solid #666d89;
	border-radius: 100%;
	margin-right: 20px;
}

.our-servises__content {
	width: 220px;
}

/* Singolo 2  */
.about-us__container {
	padding: 0 40px;
}

.portfolio {
	height: 869.5px;
	background-color: #2d303a;
	padding: 61px 0 73px 0;
	border-bottom: 6px solid #323746;
}
.portfolio__tags {
	display: flex;
	justify-content: space-between;
	width: 288px;
	margin-top: 15px;
}

.title {
	color: #666d89;
	font-size: 30px;
	font-weight: 900;
	letter-spacing: -0.15px;
}

.description {
	margin-top: 21px;
	color: #767e9e;
	font-size: 18px;
	font-weight: 300;
	text-align: justify;
}
.description_large {
	line-height: 30px;
	margin-top: 18px;
}

.tag {
	height: 22px;
	padding: 7px 6px;
	color: #767e9e;
	font-size: 12px;
	font-weight: 400;
	line-height: 5.23px;
	border: 1px solid #666d89;
	border-radius: 5px;
	transition: 0.3s;
}
.tag:hover {
	border: 1px solid #c5c5c5;
	color: #dedede;
	cursor: pointer;
}
.tag_all {
	width: 30px;
	padding: 7px 7px;
}
.tag_selected {
	border: 1px solid #c5c5c5;
	color: #dedede;
}

.layout-4-colomns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 19px;
	overflow: hidden;
	max-height: 610px;
}
/* Создаем лишний блок, чтобы красиво отображалось при изменение тега. */
.layout-4-colomns:after{
	content: '';
	width: 23%;
	display: block;
}

.block {
	margin-bottom: 17px;
}
.block_hidden {
	display: none;
}
.block_bordered {
	border: solid 5px #F06C64;
}

.about-us {
	height: 734px;
	background-color: #f2f2f2;
	padding-top: 59px;
	border-bottom: 6px solid #ffffff;
}

.about-us__layout-3-columns {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}

.item {
	width: 300px;
}
.item__name {
	margin-top: 14px;
	color: #666d89;
	font-size: 18px;
	font-weight: 900;
	line-height: 17.86px;
	letter-spacing: -0.15px;
	overflow: hidden;
	max-height: 18px;
	text-overflow: ellipsis;
}
.item__description {
	margin-top: 10px;
	color: #767e9e;
	font-size: 12px;
	font-weight: 400;
	line-height: 21.56px;
	text-align: justify;
}
.item__links {
	display: flex;
	justify-content: space-between;
	width: 153px;
	margin-top: 23px;
}

.round {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 1px solid #666d89;
	border-radius: 100%;
	cursor: pointer;
	transition: all 0.3s ease-out;
}
.round:hover {
	border: 1px solid black;
}

.link {
	display: block;
}

/* Singolo 3 */
.quote__container {
	padding: 0 40px;
}
.quote {
	padding: 59px 0px;
	background-color: #f06c64;
	height: 654.3px;
	border-bottom: 6px solid #ea676b;
	position: relative;
}
.quote__description {
	margin-top: 18px;
	margin-bottom: 42px;
	color: #f0d8d9;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	text-align: justify;
	letter-spacing: 0.15px;
}
.quote__description span {
	letter-spacing: 0px;
}
.quote__form {
	padding-top: 2px;
}
.quote__button {
	height: 36px;
	width: 50%;
	margin-left: 25%;
	
}
.quote__contact-info {
	line-height: 22.86px;
	letter-spacing: -0.1px;
	margin-left: 21px;
}

.quote__title {
	color: #f0d8d9;
	font-size: 30px;
	font-weight: 900;
}
.quote__title_small {
	color: #f0d8d9;
	font-weight: 900;
	font-size: 18px;
}

.form {
	display: flex;
	flex-direction: column;
	height: 418px;
	width: 619px;
}
.form input {
	height: 38px;
	background-color: #d6564f;
	border: none;
	border-radius: 6px;
	color: #f48c8f;
	padding: 12px 16px 13px 14px;
	margin-bottom: 16px;
	outline-color: #f0d8d9;
}
.form input::placeholder {
	color: #f48c8f;
	font-size: 12px;
	font-weight: 400;
}
.form textarea {
	width: 619px;
	height: 202px;
	background-color: #d6564f;
	border: none;
	border-radius: 6px;
	color: #f48c8f;
	padding: 10.8px 14.2px;
	resize: none;
	margin-bottom: 10px;
	outline-color: #f0d8d9;
}
.form textarea::placeholder {
	color: #f48c8f;
	font-size: 12px;
	font-weight: 400;
}

.submit {
	background-color: #f0d8d9;
	color: #d6564f;
	border: none;
	border-radius: 6px;
	font-size: 20px;
	cursor: pointer;
}
.submit:hover {
	background-color: #d6564f;
	color: #f0d8d9;
	border: 1px solid #f0d8d9;
}

.layout-2-columns {
	display: flex;
	justify-content: space-between;
}

.contact-info {
	width: 301px;
}
.contact-info__descr {
	margin-top: 8px;
	color: #f0d8d9;
	font-size: 12px;
	font-weight: 400;
	line-height: 21.56px;
	word-spacing: 0.5px;
}

.contact-links {
	width: 143px;
	line-height: 21.56px;
	color: #f0d8d9;
	font-size: 12px;
	font-weight: 400;
	margin-top: 11px;
	margin-left: 3px;
	height: 80px;
}
.contact-links__wrapper {
	margin-top: 23px;
}
.contact-links__link {
	display: flex;
	text-align: justify;
	letter-spacing: 0px;
}
.contact-links__link a {
	color: #f0d8d9;
	font-size: 12px;
	font-weight: 400;
	line-height: 21.56px;
	text-decoration: none;
}
.contact-links__link a:hover {
	text-decoration: underline;
}

.location {
	width: 7px;
	height: 11px;
	margin-right: 13px;
	margin-top: 0px;
}

.phone {
	width: 11px;
	height: 11px;
	margin-right: 11px;
	margin-left: -2px;
}

.mail {
	width: 13px;
	height: 8px;
	margin-right: 10px;
	margin-left: -3px;
	margin-top: 0;
}


#message-block{
	width: 100vw;
    height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: #0008
} 




.message {
	padding-top: 40px;
	border-radius: 50px 20px;
	text-align: center;
	margin-top: 50vh;
	background: white;
	width: 400px;
	height: 200px;
	margin: 150px auto;
	
}
.message >* {
	margin-bottom: 10px;
}

.invisible {
	display: none;
}

.close-button {
	background-color:#d6564f; 
    color: #f0d8d9;
    border: none;
    border-radius: 6px;
	font-size: 20px;
	height: 36px;
	width: 50%;
	cursor: pointer;
}
.close-button:hover {
	background-color:#f0d8d9;
	color: #d6564f;
	border:2px solid #d6564f;
}



.footer {
	padding-top: 22px;
	height: 76px;
	background-color: #2d303a;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social {
	width: 151px;
	display: flex;
	justify-content: space-between;
}

.round {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 1px solid #666d89;
	border-radius: 100%;
}
.round:hover {
	background-color: #f0d8d9;
}

.copyright {
	width: 93px;
	height: 11px;
	color: #666d89;
	font-size: 11.7px;
	margin-left: 2px;
	margin-bottom: 5px;
}
.copyright:hover {
	color: #f0d8d9;
}